%div.inst-box
  %header
    = f.label :description, 'Description'
    %span.desc
      A description of the service.
  %p
    = f.text_area :description, required: true, 
      class: "span9#{service_has_aasm_error_for('description')}", rows: 5
