@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import 'dashboard';

body {
  padding-top: 60px;
}

.label-finished-job {
  @extend .label-success;
}

.label-deleted-job {
  @extend .label-danger;
}

.label-new-job {
  @extend .label-primary;
}

.label-started-job {
  @extend .label-warning;
}

.label-record-invalid {
  @extend .label-danger;
}

.label-record-valid {
  @extend .label-primary;
}

.label-record-pending {
  @extend .label-warning;
}

.label-record-rejected {
  @extend .label-danger;
}

.label-record-approved {
  @extend .label-success;
}

table {
  ul.actions {
    list-style-type: none;
    padding-left: 0;
    li {
      display: inline;
    }
  }
}

.error {
  border: 1px solid red;
}
