- content_for :title, @organization.name
.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      %ul.nav.nav-pills.nav-stacked
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      %h1.page-header= yield :title
