<dl class="dl-horizontal">
  <h1><%= organization.name %></h1>

  <dt><%= Organization.human_attribute_name :urls %></dt>
  <dd>
    <ul class="list-unstyled">
      <% organization.urls.each do |url| %>
        <li><%= link_to url, url %></li>
      <% end %>
    </ul>
  </dd>
  <dt>Last Updated</dt>
  <dd><%= l organization.updated_at %></dd>
</dl>
