<dl class="dl-horizontal">
  <h1>
  <%=
    best_in_place(
      organization,
      :name,
      url: sfadmin_organization_path(organization),
      ok_button: "Save",
      cancel_button: "Cancel",
      ok_button_class: "btn btn-primary",
      cancel_button_class: "btn"
    )
    %>
  </h1>

  <dt><%= Organization.human_attribute_name :urls %></dt>
  <dd>
    <ul class="list-unstyled">
      <% organization.urls.each do |url| %>
        <li><%= link_to url, url %></li>
      <% end %>
    </ul>
  </dd>
  <dt>Last Updated</dt>
  <dd><%= l organization.updated_at %></dd>
</dl>
